.event_card {    
    padding: .2em;
    padding-bottom: .5em;
    margin-right: .5em;
    margin-bottom: .5em;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    width: 23%;
}

.event_card a{
    margin-top: 1em;
    margin-left: .5em;
}

.event_card img{
    width: 100%;
    height: 200px;
}

.event_card .card_info {
    margin-left: .5em;
}

