* {
    font-family: sans-serif;
}

body {
    background-color: #d4d4d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-task-container,
#tasks-container {
    margin: 1em auto;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#add-task-input {
    width: 300px;
    padding: 1em;
    border: none;
}

#add-task-btn {
    padding: 1em;
    border: none;
}

#task {    
    list-style: none;
}

